<header>
    <a mat-flat-button routerLink="/">Home</a>
    <a mat-flat-button routerLink="/new/card">NewCard</a>
    <a mat-flat-button routerLink="/hooks">Hooks</a>
    <a mat-flat-button routerLink="/exemple">Exemple</a>
    <a mat-flat-button routerLink="/tp-rxjs">TpRxjs</a>
    <a mat-flat-button routerLink="/async-subject">Async Subject</a>
    <a mat-flat-button routerLink="/behavior-subject">Behavior Subject</a>
    <a mat-flat-button routerLink="/random-honey">Random Honey</a>
</header>