<h1>Create a new Card</h1>
<mat-divider></mat-divider>
<div [formGroup]="formGroup" >
    <mat-form-field>
        <mat-label>title</mat-label>
        <input formControlName="titleCtrl" matInput >
        <div *ngIf="title.invalid && title.touched && title.errors?.required">
            Title is required.
          </div>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Price</mat-label>
        <input type="number" min="0" formControlName="price" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Type</mat-label>
        <mat-select formControlName="type">
            <ng-container *ngFor="let el of types">
                <mat-option value="{{ el }}">{{ el }}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="createCard()" [disabled]="!formGroup.valid">Done</button>
</div>


<ng-container *ngIf="error">
    <mat-divider></mat-divider>
        <div appApplyColor="red">{{ error }}</div>
    <mat-divider></mat-divider>
</ng-container>
