
<mat-sidenav-container>
    <mat-sidenav #sidenav (opened)="setState('open')" (closed)="setState('close')" mode="side">
        <app-header></app-header>
    </mat-sidenav>
    <mat-sidenav-content>
        <!-- rename to header -->
        <mat-toolbar color="accent">
            <button mat-icon-button class="example-icon" (click)="state === 'open' ? sidenav.close() : sidenav.open()" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>Angular Formation</span>
            <span class="example-spacer"></span>
            <button *ngIf="authService.isLogged" routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>logout</mat-icon>
            </button>
            <button *ngIf="!authService.isLogged" routerLink="/login" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>login</mat-icon>
            </button>
        </mat-toolbar>
        <div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>