<div>
    <ul>
        <li> <a mat-flat-button [color]="router.url == '/' ? 'warn' : 'accent'" routerLink="/">Formation</a></li>
        <li> <a mat-flat-button [color]="router.url == '/cards' ? 'warn' : 'accent'" routerLink="/cards">Cards</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/typography' ? 'warn' : 'accent'" routerLink="typography">Typography</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/button' ? 'warn' : 'accent'" routerLink="button">Button</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/icon' ? 'warn' : 'accent'" routerLink="icon">Icon</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/badge' ? 'warn' : 'accent'" routerLink="badge">Badge</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/spinner' ? 'warn' : 'accent'" routerLink="spinner">Spinner</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/toolbar' ? 'warn' : 'accent'" routerLink="toolbar">Toolbar</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/sidenav' ? 'warn' : 'accent'" routerLink="sidenav">Sidenav</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/menu' ? 'warn' : 'accent'" routerLink="menu">Menu</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/list' ? 'warn' : 'accent'" routerLink="list">List</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/grid' ? 'warn' : 'accent'" routerLink="grid">Grid</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/expansion-panel' ? 'warn' : 'accent'" routerLink="expansion-panel">Expansion Panel</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/tabs' ? 'warn' : 'accent'" routerLink="tabs">Tabs</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/stepper' ? 'warn' : 'accent'" routerLink="stepper">Stepper</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/input' ? 'warn' : 'accent'" routerLink="input">Input</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/select' ? 'warn' : 'accent'" routerLink="select">Select</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/autocomplete' ? 'warn' : 'accent'" routerLink="autocomplete">Autocomplete</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/checkbox' ? 'warn' : 'accent'" routerLink="checkbox">Checkbox</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/datepicker' ? 'warn' : 'accent'" routerLink="datepicker">Datepicker</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/tooltip' ? 'warn' : 'accent'" routerLink="tooltip">Tooltip</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/snackbar' ? 'warn' : 'accent'" routerLink="snackbar">Snackbar</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/dialogue' ? 'warn' : 'accent'" routerLink="dialogue">Dialogue</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/storage' ? 'warn' : 'accent'" routerLink="storage">Storage</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/login' ? 'warn' : 'accent'" routerLink="login">Login</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/redux' ? 'warn' : 'accent'" routerLink="redux">Redux</a> </li>
        <li> <a mat-flat-button [color]="router.url == '/random-honey' ? 'warn' : 'accent'" routerLink="random-honey">Random Honey</a> </li>
        <!-- Ici je peux creer un nouveau bouton pleins d'exemples ci-dessus ^ -->
        
        
    </ul>
</div>

<div>
    <router-outlet></router-outlet>
</div>
