.biere {
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 200px;
    height: 300px;
    position: relative;
}

.contenu {
    width: 100%;
    background-color: bisque;
    position: absolute;
    bottom: 0px;
}