<div class="card highlight-card card-small">
    <span>Bienvenue sur <b class="card-title">{{ title }}</b> version {{ version }} </span>
</div>
<div *ngIf="toto" class="card-container">
        <a *ngFor="let x of totoList" class="card"  href="#">
            <img class="card-icon" src="../assets/img/miel_blue.png" width="48" height="48"/>
            <span class="card-text" [ngStyle]="{ 'background-color': 'blue' }" [ngClass]="{ 'hovertest': true }">Pot de miel bleu 5&euro;</span>
            <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
        </a>

        <scroll-container class="scroll-container" style="scroll-behavior: auto;">
            <scroll-page  *ngFor="let a of alphas" class="scroll-element">{{ a }}</scroll-page>
        </scroll-container>
</div>