<div class="card highlight-card card-small">
    <span>Bienvenue sur <b class="card-title">{{ title }}</b> version {{ version }} </span>
</div>
<div class="card-container">
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_blue.png" width="48" height="48"/>
        <span class="card-text">Pot de miel bleu 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_red.png" width="48" height="48"/>
        <span class="card-text">Pot de miel rouge 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_yellow.png" width="48" height="48"/>
        <span class="card-text">Pot de miel jaune 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_dark.png" width="48" height="48"/>
        <span class="card-text">Pot de miel noir 10&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_green.png" width="48" height="48"/>
        <span class="card-text">Pot de miel d'herbe 15&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_yellow.png" width="48" height="48"/>
        <span style="color:black;">x2</span>
        <span class="card-text">Pot de miel jaune 9&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_orange.png" width="48" height="48"/>
        <span style="color:black;">x2</span>
        <span class="card-text">Pot de miel orangé 22&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_blue.png" width="48" height="48"/>
        <span class="card-text">Pot de miel bleu 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_red.png" width="48" height="48"/>
        <span class="card-text">Pot de miel rouge 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_yellow.png" width="48" height="48"/>
        <span class="card-text">Pot de miel jaune 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_dark.png" width="48" height="48"/>
        <span class="card-text">Pot de miel noir 10&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_green.png" width="48" height="48"/>
        <span class="card-text">Pot de miel d'herbe 15&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_yellow.png" width="48" height="48"/>
        <span style="color:black;">x2</span>
        <span class="card-text">Pot de miel jaune 9&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_orange.png" width="48" height="48"/>
        <span style="color:black;">x2</span>
        <span class="card-text">Pot de miel orangé 22&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_blue.png" width="48" height="48"/>
        <span class="card-text">Pot de miel bleu 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_red.png" width="48" height="48"/>
        <span class="card-text">Pot de miel rouge 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_yellow.png" width="48" height="48"/>
        <span class="card-text">Pot de miel jaune 5&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_dark.png" width="48" height="48"/>
        <span class="card-text">Pot de miel noir 10&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_green.png" width="48" height="48"/>
        <span class="card-text">Pot de miel d'herbe 15&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_yellow.png" width="48" height="48"/>
        <span style="color:black;">x2</span>
        <span class="card-text">Pot de miel jaune 9&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card"  href="#">
        <img class="card-icon" src="../assets/img/miel_orange.png" width="48" height="48"/>
        <span style="color:black;">x2</span>
        <span class="card-text">Pot de miel orangé 22&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
</div>