<div class="card highlight-card card-small">
    <span>Bienvenue sur <b class="card-title">{{ title }}</b> version {{ version }} </span>
</div>
<div class="card-container">
    <a class="card" *ngFor="let card of getCards() | async" href="#{{ card.id }}">
        <img class="card-icon" src="../assets/img/miel_{{ card.picture }}.png" width="48" height="48"/>
        <span class="card-text">{{ card.title }} {{ card.price }}&euro;</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>
</div>